#box {
  width: 27px;
  height: 36px;
  position: absolute;
  background-position: -34px;
  background-color: transparent;
  background-image: url(95935c05d48d0d00159cd1292dc92368.png);
  left: 200px;
  top: 200px;
  background-position-y: 4px;

  left: 200px;
  top: 200px;
}
body {
  background-image: url(https://i.imgur.com/25TOIy2.png);
}
